.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  animation: showPopup 0.3s linear;
}

.popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 480px;
  min-height: 420px;
  width: 100%;
  background-color: var(--grey-600);
  border-radius: 10px;
  box-sizing: border-box;
}

.popup__closeButton {
  position: absolute;
  top: 35px;
  right: 35px;
  width: 20px;
  width: 20px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  margin: 0 0 0 auto;
}

.modal__btnIcon {
	stroke: var(--grey-100);
  width: 20px;
  height: 20px;
}

.popup__closeButton:hover {
  opacity: 0.3;
}

@keyframes showPopup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}