.image {
  display: block;
}

.image__mainColor_bronze {
  stop-color: #cd7f32;
}

.image__shadeColor_bronze {
  stop-color: #b8860b;
}

.image__mainColor_silver {
  stop-color: #a3a2a0;
}

.image__shadeColor_silver {
  stop-color: #c0b2b1;
}

.image__mainColor_gold {
  stop-color: #ffd700;
}

.image__shadeColor_gold {
  stop-color: #e2ad26;
}

.image__mainColor_platinum {
  stop-color: #e5e4e2;
}

.image__shadeColor_platinum {
  stop-color: #f3f2f0;
}

.image__mainColor_emerald {
  stop-color: #086522;
}

.image__shadeColor_emerald {
  stop-color: #287233;
}
