.item {
  display: grid;
  justify-items: center;
  grid-template-areas: 
  'identifier'
  'btn';
  gap: 15px 0;
  position: relative;
}

.item__identifier {
  grid-area: identifier;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 1;
  z-index: 999;
  transition: opacity 0.3s linear;
  position: relative;
}

.item__identifier::after {
  position: absolute;
  content: '';
  background-image: url("../../../../images/highlight.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 11px;
  height: 8px;
  top: 5px;
  right: 6px;
}

.item__btn {
  grid-area: btn;
  font-family: var(--Roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  box-sizing: border-box;
  border: none;
  padding: 6px;
  cursor: pointer;
  transition: color 0.3s linear;
  color: var(--grey-100);
  background-color: transparent;
}

.item__btn:hover {
  color: var(--accent-red-300);
}

.item__btn:hover + .item__identifier {
  opacity: 0.5;
}

.item__identifier_red {
  background-color: #F20000;
  border: 2px solid #A90101;
}

.item__identifier_yellow {
  background-color: #EEF300;
  border: 2px solid #B7BB01;
}

.item__identifier_green {
  background-color: #00B507;
  border: 2px solid #036D01;
}