.table {
  border: none;
  border-spacing: unset;
  width: 100%;
}

.table__body {
  width: 100%;
}

.table__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 10px;
  border-bottom: 1px solid var(--grey-300);
  height: 56px;
}

.text {
  padding: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

.value {
  font-size: 1rem;
  line-height: 1.3125rem;
  max-width: 60%;
  width: 100%;
  text-align: right;
  word-wrap: break-word;
}

.table__itemLabel {
  composes: text;
  color: var(--grey-400);
  font-size: 0.875rem;
  line-height: 1.125rem;
  max-width: 30%;
  width: 100%;
  text-align: left;
  word-wrap: break-word;
}

.table__itemValue {
  composes: text;
  composes: value;
  color: var(--grey-600);
}

.table__itemLink {
  composes: text;
  composes: value;
  color: var(--link);
  transition: color 0.3s linear;
  cursor: pointer;
}

.table__itemLink:hover {
  color: var(--accent-cyan-300);
}