.item {
  box-sizing: border-box;
  padding: 0 20px 15px 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0 10px;
}

.amount {
  margin: 0;
  font-family: var(--Roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #FFF;
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon_coin {
  background-image: url("../../../../images/Coin.png");
}

.icon_thanks {
  background-image: url("../../../../images/Thanks.png");
}