.header {
  box-sizing: border-box;
  display: grid;
  width: 100%;
  padding: 0 50px;
  justify-content: center;
  align-items: center;
  grid-template-areas: 
  'logo . menu . search . backward';
  grid-template-columns: min-content 0.4fr 900px 0.8fr 160px 30px min-content;
  min-height: 88px;
  background-color: transparent;
}

.header__menu {
  grid-area: menu;
}

.header__logo {
  grid-area: logo;
}

.header__searchBar {
  grid-area: search;
}

.header__backwardBtn {
  grid-area: backward;
}