.wallet {
  background: rgba(253, 253, 253, 0.1);
  border-radius: 10px;
  width: 100%;
}

.label {
  box-sizing: border-box;
  padding: 20px 24px;
  margin: 0;
  font-family: var(--Roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  text-align: center;
  color: var(--accent-red-300);
  /* border-bottom: 0.5px solid var(--grey-400); */
}